.heroText {
    flex-shrink: 0;
    width: auto;
    /* 585px */
    height: auto;
    /* 87px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    position: relative;
    font-weight: 700;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 72px;
    letter-spacing: -3.8px;
    line-height: 1.2;
    text-align: center;
}
